PORT=3000
PORT_FRONTEND=3001

DB_USERNAME=yourdbusername
DB_HOST=localhost
DB_PASSWORD=yourdbpassword
DB_DIALECT=postgres

CLOUD_NAME=cloudinary_cloud, 
API_KEY=cloudinary_api_key, 
API_SECRET=cloudinary_api_secret 

# Dev
DB_NAME=car_dev
# DB_NAME=car_stag
# DB_NAME=car_prod